/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
input {
  font-family: 'Ubuntu', sans-serif;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4 {
  font-family: 'Russo One', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h5 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
}
input {
  font-size: 2rem;
  line-height: 1.8;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
}
input:focus {
  outline: none;
  border: 1px solid black;
}
.container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.navigation-container {
  width: 100vw;
  height: 7rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.navigation-container h1 {
  padding: 4rem;
}
.navigation-container h1 a {
  text-decoration: none;
  color: white;
}
.navigation-container .navigation {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
}
.navigation-container .navigation a {
  font-size: 1.8rem;
}
.navigation-container .navigation button {
  display: none;
}
@media (max-width: 1170px) {
  .navigation-container .navigation button {
    display: block;
    padding: 2.8rem;
    font-size: 2.8rem;
    border: none;
    color: white;
    background-color: transparent;
  }
}
.navigation-container .navigation .nav-item {
  padding: 2.8rem;
  margin: 0 1rem 0 0;
  color: white;
}
.navigation-container .navigation .nav-item:hover {
  border-bottom: 1px solid white;
}
@media (max-width: 1170px) {
  .navigation-container .navigation .nav-item {
    visibility: hidden;
  }
}
.header-container {
  margin: 0rem;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.header-container .header-image {
  height: 100vh;
  width: 100vw;
  background: url("../img/mike-erskine-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 1700px) {
  .header-container .header-image {
    background-position: center;
  }
}
@media (max-width: 1170px) {
  .header-container .header-image {
    background-position: center;
  }
}
.header-container .header-image .call-to-action {
  position: absolute;
  background: white;
  height: 30rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.6rem 4rem black;
}
.header-container .header-image .call-to-action .form-question,
.header-container .header-image .call-to-action .find-neighborhood-form {
  padding: 4rem 4rem 0rem;
}
.header-container .header-image .call-to-action .find-neighborhood-form {
  height: 66vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 0rem;
}
.header-container .header-image .call-to-action .find-neighborhood-form input {
  height: 5rem;
  width: 42rem;
}
.header-container .header-image .call-to-action .find-neighborhood-form button {
  height: 5rem;
  width: 10rem;
  border-radius: 0.3rem;
  border: 0px solid white;
  color: white;
  background-color: mediumseagreen;
}
.header-container .header-image .call-to-action .find-neighborhood-form button:hover {
  background-color: seagreen;
}
.get-involved {
  width: 100vw;
  margin: 4rem 0 0 0;
}
@media (max-width: 1170px) {
  .get-involved {
    margin: 20rem 0 0 0;
  }
}
.get-involved .image-to-get-involved {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../img/hatham-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 17%;
}
.get-involved .image-to-get-involved h2,
.get-involved .image-to-get-involved button {
  margin: 0 0 2rem 2rem;
  color: white;
}
.get-involved .image-to-get-involved button {
  height: 5rem;
  width: 12rem;
  border-radius: 0.3rem;
  border: 0px solid white;
  color: white;
  background-color: mediumseagreen;
}
.get-involved .image-to-get-involved button:hover {
  background-color: seagreen;
}
.container {
  height: 40rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1170px) {
  .container {
    height: 40rem;
  }
}
.container .card-section {
  height: 35rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1700px) {
  .container .card-section {
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .container .card-section {
    margin: 20rem 0 0 0;
    height: 60rem;
  }
}
.container .card-section .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1700px) {
  .container .card-section .card-container {
    justify-content: space-around;
  }
}
@media (max-width: 1170px) {
  .container .card-section .card-container {
    flex-direction: column;
  }
}
.container .card-section .card-container .card {
  height: 30rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 4rem lightgrey;
}
@media (max-width: 1700px) {
  .container .card-section .card-container .card {
    height: 20rem;
    width: 22rem;
  }
}
@media (max-width: 1170px) {
  .container .card-section .card-container .card {
    height: 10rem;
    width: 90%;
    flex-direction: row;
  }
}
.container .card-section .card-container .card .image {
  max-width: 100%;
  max-height: 80%;
  border-radius: 1rem 1rem 0 0;
}
@media (max-width: 1170px) {
  .container .card-section .card-container .card .image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem 0 0 1rem;
  }
}
.container .card-section .card-container .card img {
  display: block;
  overflow: hidden;
  object-fit: contain;
}
.container .card-section .card-container .card h5 {
  padding: 3rem 2rem;
  color: grey;
  border-radius: 0 0 1rem 1rem;
}
@media (max-width: 1170px) {
  .container .card-section .card-container .card h5 {
    border-radius: 0 1rem 1rem 0;
    padding: 4rem 10rem 4rem 10rem;
    text-align: center;
    font-size: 4rem;
  }
}
@media (max-width: 800px) {
  .container .card-section .card-container .card h5 {
    padding: 4rem 8rem 4rem 8rem;
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .container .card-section .card-container .card h5 {
    padding: 4rem 4rem;
  }
}
@media (max-width: 500px) {
  .container .card-section .card-container .card h5 {
    padding: 4rem 2rem;
    font-size: 1.8rem;
  }
}
.container .card-section .card-container a {
  text-decoration: none;
}
.container .card-section .card-container .success-card {
  height: 25rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/megan-markham-austin-unsplash.jpg") no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}
.container .card-section .card-container .success-card h5 {
  color: white;
}
.container .show-more {
  family-font: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: mediumseagreen;
}
footer .navigation-container {
  display: flex;
  justify-content: space-between;
}
footer .navigation-container .left-side {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
}
footer .navigation-container a {
  color: black;
}
footer .navigation-container .navigation-footer {
  margin: 0 2rem 0 0;
}
footer .navigation-container .navigation-footer .nav-item {
  color: black;
  text-decoration: underline;
  margin: 0 1rem 0 1rem;
}
