.navigation-container {
	width: 100vw;
	height: 7rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	


	h1 {
		padding: 4rem;
		font-size: 4rem;

		a {
			text-decoration: none;
			color: black;
		}
	}

	.navigation {
		display: flex;
		justify-content: flex-end;
		width: 45vw;

		a {
			font-size: 1.8rem;
		}

		.nav-item {
			padding: 2.8rem;
			margin: 0 1rem 0 0;

			&:hover {
				border-bottom: 1px solid white;
			}
		} // nav-item
	} // navigation
} // navigation-container