// Fonts
@ubuntu: 'Ubuntu', sans-serif;
@russo: 'Russo One', sans-serif;
@opensans: 'Open Sans', sans-serif;

// Color assignment


// Colors
@button-bg-color: mediumseagreen;
@button-fg-color: white;

@tablet: ~"(max-width: 1170px)";
@phone: ~"(max-width: 500px)";