// Fonts
@ubuntu: 'Ubuntu', sans-serif;
@russo: 'Russo One', sans-serif;
@opensans: 'Open Sans', sans-serif;

// Sizes
@co-make-font-size: 4rem;
@call-to-action-card-font-size: 3.5rem;
@section-title-font-size: 3rem;
@card-title-font-size: 2.0rem;
@card-description-font-size: 1.8rem;

@link-font-size: 1.8rem;
@button-font-size: 2.8rem;

// Colors
@button-bg-color: mediumseagreen;
@button-bg-hover-color: seagreen;
@button-fg-color: white;
@card-title-fg-color: grey;


// widths
@tablet-pro: ~"(max-width: 1700px)";
@success-cities-1550px: ~"(max-width: 1550px)";
@tablet: ~"(max-width: 1170px)";
@phone-large: ~"(max-width: 840px)";
@phone-medium: ~"(max-width: 630px)";
@phone-small: ~"(max-width: 500px)";
@phone-xtra-small: ~"(max-width: 375px)";
@phone-xtra-xtra-small: ~"(max-width: 320px)";