// Fonts
@ubuntu: 'Ubuntu', sans-serif;
@russo: 'Russo One', sans-serif;
@opensans: 'Open Sans', sans-serif;

// Color assignment


// Colors
@button-color: mediumseagreen;

@tablet: ~"(max-width: 767px)";
@phone: ~"(max-width: 500px)";